@import "tailwindcss";
@plugin "daisyui";

/* ================================
   GLOBAL THEME VARIABLES
================================ */
:root {
  --bg-primary: #0f172a;     /* slate-900 */
  --bg-secondary: #020617;   /* slate-950 */
  --text-primary: #e5e7eb;   /* gray-200 */
  --text-muted: #94a3b8;     /* slate-400 */
  --accent: #facc15;         /* yellow-400 */
}
